<mat-toolbar>
  <mat-toolbar-row>
    <span>Student's Profile</span>
  </mat-toolbar-row>
</mat-toolbar>
<form style="margin-left: 1em">
  <mat-form-field class="full-width">
    <input matInput placeholder="Student Id" [value]="student.studentId" readonly>
  </mat-form-field>
  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="full-width">
          <input matInput placeholder="Name" [value]="student.name" readonly>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="full-width">
          <input matInput placeholder="Surname" [value]="student.surname" readonly>
        </mat-form-field>
      </td>
    </tr>
    <mat-form-field class="penInput">
      <input matInput placeholder="date of birth" class="center-text" [value]="student.date" readonly>
    </mat-form-field>
  </table>
  <div class="center">
  <mat-card class="img-width">
    <mat-card-header>
      <mat-card-title>Image</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="student.image" [alt]="student.name">
  </mat-card>
  </div> 
</form>