body {
  background:#ECF0F1;
  font-family: 'Lora', 'Times New Roman', serif;
  
}

header{
  height: 400px;
  background-size: 75%;
  background-size: cover;
  position: relative;
  background-image: url("https://c.stocksy.com/a/SdT500/z9/1305562.jpg");
}

.style1{
  border-top: 1px solid #8c8b8b;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
.background-image {

}
p{
  font-size: 20px;
  color: aliceblue;
}

.text{
  font-size: 15px;
  color: #333333;
}
h1{
  font-family: "Impact", Charcoal, sans-serif;
  padding-top: 150px;
  color: aliceblue;
  font-size: 50px;
  text-shadow: 1px 1px 5px black;
}

section {
  padding: 100px 0;
}

section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

section h3.section-subheading {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 75px;
  text-transform: none;
  font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

footer {
  /* padding: 15px; */
  color: aliceblue;
  font-size:20px;
  font-weight: 100;
  line-height: 45px;
  position: relative;
  font-size: 12px;
  background: #333333;
  margin-top: 10px;
  text-decoration: none;
  text-transform: uppercase;
}

.btn-1 {
  background: #333333;
  font-weight: 100;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
  cursor: pointer;
}



