
<header class="masthead text-black text-center">
  <div class="background-image">
    <div class="container">
       <h1 class="text-uppercase mb-1">Learning Through Activity</h1>
       <p>This is a Learning Through Activity page!!</p> 
    </div>
  </div>
  </header>
  <body>

  <section id="services">
    <div class="container">
      <div class="row" >
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">“Happiness is a state of activity.”</h2>
          <h3 class="section-subheading text-muted" >― Aristotle</h3>
        </div>

        <div class="col-lg-12 text-center" *ngIf="hasRole('STUDENT')">
          <h2 class="section-heading text-uppercase">“Hello Student”</h2>
          <img mat-card-lg-image [src]="user.image || defaultImageUrl" >
          <h3 class="section-subheading text-muted" >― {{user.name}}</h3>
        </div>

        <div class="col-lg-12 text-center" *ngIf="hasRole('LECTURER')">
          <h2 class="section-heading text-uppercase">“Hello LECTURER</h2>
          <img mat-card-lg-image [src]="user.image || defaultImageUrl" >
          <h3 class="section-subheading text-muted" >― {{user.name}}</h3>
        </div>

        <div class="col-lg-12 text-center" *ngIf="hasRole('ADMIN')">
          <h2 class="section-heading text-uppercase">“Hello ADMIN</h2>
          <img mat-card-lg-image [src]="user.image || defaultImageUrl" >
          <h3 class="section-subheading text-muted" >― {{user.name}}</h3>
        </div>

      </div>
      <div class="row text-center" >
        <div class="col-md-4">
          <img src="https://media3.giphy.com/media/oMrjb4goYluuI/giphy.gif" width="300" height="200"><br>
          <h4 class="service-heading" >Remain focused</h4>
          <p class="text" >Students who are engaged and learning actively are less likely to become bored and disinterested.</p>
        </div>
        <div class="col-md-4">
            <img src="https://cdn.dribbble.com/users/31664/screenshots/1627363/dribbble_1.gif" width="300" height="200"><br>
          <h4 class="service-heading" >Learn differently </h4>
          <p class="text" >When students are involved in the learning process they are more engaged emotionally, helping them experience learning in a dynamic, new way.</p>
        </div>
        <div class="col-md-4">
            <img src="https://cdn.dribbble.com/users/70382/screenshots/1972089/dribbble-loop-2.gif" width="300" height="200"><br>
          <h4 class="service-heading">Learn faster</h4>
          <p class="text" >Learning firsthand requires deep problem-solving and critical thinking. These processes boost student engagement, accelerating learning and improving content retention.</p>
        </div>
      </div>
    </div>
  </section>
   <footer>
    <div class="row">
      <p class=" text">&copy; 2018 Cryptolytics</p>
    </div>
  </footer>
</body>