<body>
<div class="container contact-form">
    <div class="contact-image">
        <img src="https://cdn1.iconfinder.com/data/icons/hawcons/32/698913-icon-81-document-add-128.png" alt="rocket_contact"/>
    </div>
<form style="margin-left: 1em" #studentForm="ngForm" (ngSubmit)="onSubmit()" [formGroup]="sf">
    <h3>Register</h3>
    
  <mat-form-field appearance="outline"  class="full-width">
    <input matInput placeholder="Student Id * Please in put 9 digit"  name="studentId" required formControlName="studentId">
    
    <mat-error *ngFor="let validation of validation_messages.studentId">
      <mat-error class="error-message" *ngIf="sf.get('studentId').hasError(validation.type)&&(sf.get('studentId').dirty || sf.get('studentId').touched)">
    {{validation.message}}</mat-error>
  </mat-error>
    
  </mat-form-field>

  <table cellspacing="0" >
    <tr>
      <td>
        <mat-form-field appearance="outline" >
          <input matInput placeholder="First name"  name="name" required formControlName="name">
          <mat-error *ngFor="let validation of validation_messages.name">
            <mat-error class="error-message" *ngIf="sf.get('name').hasError
            (validation.type) && (sf.get('name').dirty || sf.get('name').touched)">
          {{validation.message}}</mat-error>
        </mat-error>
        </mat-form-field >
      </td>
      <td>
        <mat-form-field appearance="outline">
          <input matInput placeholder="surname" name="surname" required formControlName="surname">
          <mat-error *ngFor="let validation of validation_messages.surname">
            <mat-error class="error-message" *ngIf="sf.get('surname').hasError
            (validation.type) && (sf.get('surname').dirty || sf.get('surname').touched)">
          {{validation.message}}</mat-error>
        </mat-error>
        </mat-form-field>
      </td>

    </tr>
    <tr>
        <mat-form-field appearance="outline">
            <input matInput  min="1990-01-01" max="2018-10-25" type="date" name="date" required formControlName="date">
            <mat-error *ngFor="let validation of validation_messages.date">
              <mat-error class="error-message" *ngIf="sf.get('date').hasError
              (validation.type) && (sf.get('date').dirty || sf.get('date').touched)">
            {{validation.message}}</mat-error>
          </mat-error>
          </mat-form-field>
    </tr>
    <tr>
      <td>
        <mat-form-field appearance="outline"  class="full-width">
            <input matInput placeholder="Email * AAA@aaa.com" name="email" required formControlName="email" type="email">
            <mat-error *ngFor="let validation of validation_messages.email">
              <mat-error class="error-message" *ngIf="sf.get('email').hasError
              (validation.type) && (sf.get('email').dirty || sf.get('email').touched)">
            {{validation.message}}</mat-error>
          </mat-error>
          </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field  appearance="outline"  >
          <input matInput type="password" placeholder="password" name="password" required formControlName="password">
          <mat-error *ngFor="let validation of validation_messages.date">
            <mat-error class="error-message" *ngIf="sf.get('password').hasError
            (validation.type) && (sf.get('password').dirty || sf.get('password').touched)">
          {{validation.message}}</mat-error>
        </mat-error>
        </mat-form-field>
      </td>
    </tr>
  </table>
  <mat-form-field  class="full-width" appearance="outline">
    <input matInput placeholder="file name * https://theinsider.ug/wp-content/uploads/2018/05/gettyimages-914184882-450x270.jpg" name="image" formControlName="image">
  </mat-form-field>
 <br>
  <div class="center">
    <button mat-raised-button color="primary" type="submit" [disabled]="!studentForm.form.valid">Register</button>
  </div>
</form>
</div>
</body>

