<mat-toolbar>
    <mat-toolbar-row>
      <span>Edit Activity</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <form style="margin-left: 1em" #editActivityForm="ngForm" (ngSubmit)="onSubmit()" [formGroup]="af">
    <table class="full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="full-width" appearance="outline">
            <input matInput placeholder="Activity name" [value]="activity.name" formControlName="name">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="full-width" appearance="outline">
            <input matInput placeholder="location" [value]="activity.location" formControlName="location">
          </mat-form-field>
        </td>
      </tr>
      <mat-form-field class="penInput" appearance="outline">
        <input matInput placeholder="periodOfRegis" class="center-text" [value]="activity.periodOfRegis" formControlName="periodOfRegis" >
      </mat-form-field>
    </table>
    <div class="center">
        <mat-form-field class="full-width" appearance="outline">
      <mat-card-header>
        <mat-card-title>Image</mat-card-title>
      </mat-card-header>
      <input matInput [value]="activity.image" placeholder="image" class="center-text" formControlName="image">
    </mat-form-field>
    </div>
    <mat-form-field class="full-width" appearance="outline">
      <input matInput placeholder="hostTeacher" [value]="activity.hostTeacher" formControlName="hostTeacher">
    </mat-form-field>
    <mat-form-field class="full-width" appearance="outline">
      <input matInput min="1990-01-01" max="2018-10-25" type="date" [value]="activity.date" formControlName="date">
    </mat-form-field>
    <mat-form-field class="full-width" appearance="outline">
      <textarea matInput placeholder="Description" [value]="activity.description" formControlName="description"></textarea>
    </mat-form-field>
    <div>
        <button mat-raised-button color="primary" type="submit" class="btnContact">Update</button>
    </div>
  </form>