
<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <div class="login100-pic js-tilt" data-tilt>
          <!-- <div class="funkyradio">
              <div class="funkyradio-primary">
          <input type="radio" name="vehicle1" value="Bike" (click)="loginStudent()" id="radio1">
          <label for="radio1"> Student</label>
              </div>
          <div class="funkyradio-primary">
          <input type="radio" name="vehicle1" value="Bike" (click)="loginTeacher() " id="radio2"> 
          <label  for="radio2">Teacher</label>
          </div>
          </div><br> -->
        <img src="https://image.flaticon.com/icons/png/512/295/295128.png" alt="IMG">
      </div>

      <form class="login100-form validate-form" class="login100" (ngSubmit)="onSubmit()">
        <span class="login100-form-title">
          Login
        </span>

        <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
          <input matInput class="input100" type="text" name="email" placeholder="Email" [(ngModel)]="model.email">
          <!-- <mat-error *ngFor="let validation of validation_message.email">
            <mat-error *ngIf="adressForm.get('email').hasError(validation.type) && (addressGroup.get('email').dirty ||addressGroup.get('email').touched)">
              {{validation.message}}
            </mat-error>
          </mat-error> -->
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="fa fa-envelope" aria-hidden="true"></i>
          </span>
        </div>

        <div class="wrap-input100 validate-input" data-validate = "Password is required">
          <input matInput class="input100" type="password" name="pass" placeholder="password" [(ngModel)]="model.password">
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="fa fa-lock" aria-hidden="true"></i>
          </span>
        </div>
        
        <div class="container-login100-form-btn">
          <button mat-raised-button class="login100-form-btn" type="submit"  matTooltip="Login">
            Login
          </button>
        </div>
      </form>

    <form class="login100-form validate-form" class="login100" (ngSubmit)="onSubmitTeacher()" *ngIf="loginTeacherCheck">
        <span class="login100-form-title">
          Login as Teacher
        </span>

        <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
          <input class="input100" type="text" name="email" placeholder="Email" [(ngModel)]="modelTeacher.email">
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="fa fa-envelope" aria-hidden="true"></i>
          </span>
        </div>

        <div class="wrap-input100 validate-input" data-validate = "Password is required">
          <input class="input100" type="password" name="pass" placeholder="password" [(ngModel)]="modelTeacher.password">
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="fa fa-lock" aria-hidden="true"></i>
          </span>
        </div>
        
        <div class="container-login100-form-btn">
          <button class="login100-form-btn" type="submit">
            Login
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

