
body{
    background-color: #ECF0F1;
}
.contact-form{
    background: #fff;
    padding-top: 6%; 
    margin-bottom: 5%;
    width: 45%;
    border-radius:1rem;
    box-shadow: 7px 5px 10px #333333;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
}
.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
