<body>
<div class="container contact-form">
    <div class="contact-image">
        <img src="https://cdn1.iconfinder.com/data/icons/hawcons/32/698913-icon-81-document-add-128.png" alt="rocket_contact"/>
    </div>
<form style="margin-left: 1em" #activityForm="ngForm" (ngSubmit)="onSubmit()" [formGroup]="af">
    <h3>Add Activity</h3>
    
  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="full-width" appearance="outline">
          <input matInput placeholder="Activity name"  name="name" required formControlName="name" [(ngModel)] = "model.name">
          <mat-error *ngFor="let validation of validation_messages.name">
            <mat-error class="error-message" *ngIf="af.get('name').hasError
            (validation.type) && (af.get('name').dirty || af.get('name').touched)">
          {{validation.message}}</mat-error>
        </mat-error>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="full-width" appearance="outline">
          <input matInput placeholder="location" name="location" required formControlName="location" [(ngModel)] = "model.location">
          <mat-error *ngFor="let validation of validation_messages.loaction">
            <mat-error class="error-message" *ngIf="af.get('location').hasError
            (validation.type) && (af.get('location').dirty || af.get('location').touched)">
          {{validation.message}}</mat-error>
        </mat-error>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field class = "full-width" appearance="outline">
          <input matInput placeholder = "period of register" name="periodOfRegis" formControlName="periodOfRegis" [(ngModel)]= "model.periodOfRegis"  required>
          <mat-error *ngFor="let validation of validation_messages.periodOfRegis">
            <mat-error class="error-message" *ngIf="af.get('periodOfRegis').hasError
            (validation.type) && (af.get('periodOfRegis').dirty || af.get('periodOfRegis').touched)">
          {{validation.message}}</mat-error>
        </mat-error>
        </mat-form-field>
      </td>
      <td>
          <mat-form-field class = "full-width" appearance="outline">
              <mat-select placeholder="host teacher"  name="lecturer" [(ngModel)]= "model.lecturer"
               formControlName="lecturer" required>
                <mat-option *ngFor="let teacher of teachers" [value]="teacher">{{teacher.name}}</mat-option>
              </mat-select>
            </mat-form-field>

        <!-- <mat-form-field class = "full-width" appearance="outline">
          <input matInput placeholder = "host teacher" name="hostTeacher" [(ngModel)]= "model.hostTeacher" formControlName="hostTeacher" required>
          <mat-error *ngFor="let validation of validation_messages.hostTeacher">
            <mat-error class="error-message" *ngIf="af.get('hostTeacher').hasError
            (validation.type) && (af.get('hostTeacher').dirty || af.get('hostTeacher').touched)">
          {{validation.message}}</mat-error>
        </mat-error>
        </mat-form-field> -->
      </td> 
    </tr>
    <div>
      <mat-form-field  appearance="outline">
        <input matInput placeholder="yyyy-MM-dd" min="1990-01-01" max="2018-10-25" type="date" class="center-text" name="date" [(ngModel)] = "model.date" required formControlName="date">
          <mat-error *ngFor="let validation of validation_messages.date">
            <mat-error class="error-message" *ngIf="af.get('date').hasError
            (validation.type) && (af.get('date').dirty || af.get('date').touched)">
          {{validation.message}}</mat-error>
        </mat-error>
      </mat-form-field>
    </div>
  </table>
  <mat-form-field class="full-width" appearance="outline">
    <input matInput placeholder="file name" name="image" [(ngModel)] = "model.image" formControlName="image">
  </mat-form-field>
  <mat-form-field class="full-width" appearance="outline">
    <textarea matInput placeholder="Description" name="description" formControlName="description" [(ngModel)] = "model.description"></textarea>
  </mat-form-field>
  <div class="center">
    <button mat-raised-button color="primary" type="submit" class="btnContact">Add</button>
  </div>
</form>
</div>
</body>
<!-- [disabled]="!activityForm.form.valid" -->

