

.color-side{
  color:#E7C25E;
}
.userName{
  color:#F39C12;
  align: center;
  padding-left: 15%
}
.color{
  color: #E7C25E;
  cursor: pointer;
  font-size:20px;
  font-weight: 400;
  line-height: 45px;
  text-transform: uppercase;
}

.btn-1 {
  font: #E7C25E;
  font-weight: 100;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.mat-toolbar{
  position: relative;
  background: #2E3436;
}

img{
  width: 2cm;
  height: 2cm;
}

a:hover,
a:active {
    font-weight: 900;
    letter-spacing: 1px;
}

.mat-list .mat-list-item {
  height: 50px !important;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.router-link-active{
  color: #E7C25E;
  text-shadow: 0px 1px 5px #000000;
  padding-left: 3%;
  font-size: 110%;
}

.sideButton {
   position: relative;
} 



.logout-student{
  float: right;
}

.picture-student{
  float: right;
}

.example-card {
  float: right;
  position: relative;
  width: 80px;
  height: 50px;
  background-size: cover;
}

.pic{
  float: right;
  border-radius: 50%;
  flex: 100;
} 
.profile{
  padding-top: 5px;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 50%;
}
  .picture{
    float: right;
    position: relative;
    width: 50px;
    height: 50px;
  }
