<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
      <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link color" [routerLink]="['/homepage']" routerLinkActive="router-link-active" >Home</a>
    </li>
    <li class="nav-item " >
        <a class="nav-link color" [routerLink]="['/list']" routerLinkActive="router-link-active" *ngIf="hasRole('STUDENT')">Activity List</a>
    </li>
    <li class="nav-item " >
        <a class="nav-link color" [routerLink]="['/table']" routerLinkActive="router-link-active" *ngIf="hasRole('ADMIN')">Student Request</a>
    </li>
    <li class="nav-item ">
        <a class="nav-link color" [routerLink]="['/enrollTable']" routerLinkActive="router-link-active"   *ngIf="hasRole('STUDENT')">Enroll</a>
    </li>
    <li class="nav-item ">
         <a class="nav-link color" [routerLink]="['/activityTable']" routerLinkActive="router-link-active" *ngIf="hasRole('LECTURER')">Activity</a>
    </li>
    <li class="nav-item ">
      <a class="nav-link color" [routerLink]="['/add-activity']" routerLinkActive="router-link-active" *ngIf="hasRole('LECTURER')">Add activity</a>
 </li>
    <li class="nav-item ">
      <a class="nav-link color" [routerLink]="['/edit']" *ngIf="hasRole('STUDENT')" (click)="edit()"  routerLinkActive="router-link-active" > Edit Profile</a>
    </li>
      </ul>
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <img mat-card-lg-image class="profile" [src]="user.image || defaultImageUrl" mat-button [matMenuTriggerFor]="menu"  routerLinkActive="router-link-active">
          <mat-menu #menu="matMenu">
          <button mat-menu-item  *ngIf="hasRole('LECTURER') || hasRole('STUDENT')" [routerLink]="['/updateProfile']" (click)="updateProfile()">Update profile</button>
          <button mat-menu-item   *ngIf="hasRole('LECTURER') || hasRole('STUDENT')|| hasRole('ADMIN')" [routerLink]="['/homepage']" (click)="Logout()">Log out</button>
          <button mat-menu-item  *ngIf="!hasRole('STUDENT') && !hasRole('LECTURER') && !hasRole('ADMIN')" [routerLink]="['/add']" (click)="updateProfile()">Sign In</button>
          <button mat-menu-item   *ngIf="!hasRole('STUDENT') && !hasRole('LECTURER') && !hasRole('ADMIN')" [routerLink]="['/login']" (click)="Logout()">Log In</button>
        </mat-menu>
      </li>
      </ul>
  </div>
</nav>
    <main>
      <router-outlet></router-outlet>
    </main>



