<mat-toolbar>
  <mat-toolbar-row>
    <span>New Activity</span>
  </mat-toolbar-row>
</mat-toolbar>
<form style="margin-left: 1em">
  <mat-form-field class="full-width">
    <input matInput placeholder="Activity Id" [value]="activity.id" readonly>
  </mat-form-field>
  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="full-width">
          <input matInput placeholder="Activity name" [value]="activity.name" readonly>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="full-width">
          <input matInput placeholder="location" [value]="activity.location" readonly>
        </mat-form-field>
      </td>
    </tr>
    <mat-form-field class="penInput">
      <input matInput placeholder="periodOfRegis" class="center-text" [value]="activity.periodOfRegis" readonly>
    </mat-form-field>
  </table>
  <div class="center">
  <mat-card class="img-width">
    <mat-card-header>
      <mat-card-title>Image</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="activity.image" [alt]="activity.name">
  </mat-card>
  </div>
  <mat-form-field class="full-width">
    <textarea matInput placeholder="Description" [value]="activity.description" readonly></textarea>
  </mat-form-field>  
</form>