<div class="container">
    <div class='wrap'>
<form (ngSubmit)="onSubmit()">
    <input [(ngModel)]="model.password" type="password" name="password" placeholder="password">
<button class='submit'>LOG IN</button>
</form>
</div>

