<div class="mat-elevation-z8">
  <div *ngIf="loading" class="loading-indicator">
    <mat-spinner></mat-spinner>
  </div>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search by name and periodOfTime">
  </mat-form-field>
  <table mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let row">{{row.name}}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <!-- location Column -->
    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>location</th>
      <td mat-cell *matCellDef="let row">{{row.location}}</td>
    </ng-container>
    <!-- description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>description</th>
      <td mat-cell *matCellDef="let row">{{row.description}}</td>
    </ng-container>
    <!-- periodOfRegis Column -->
    <ng-container matColumnDef="periodOfRegis">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>periodOfRegis</th>
      <td mat-cell *matCellDef="let row">{{row.periodOfRegis}}</td>
    </ng-container>
    <!-- date Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>date</th>
      <td mat-cell *matCellDef="let row">{{row.date}}</td>
    </ng-container>
    <!-- hostTeacher Column -->
    <ng-container matColumnDef="hostTeacher">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>hostTeacher</th>
      <td mat-cell *matCellDef="let row">{{row.lecturer.name}}</td>
    </ng-container>

    <!-- image Column -->
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>image</th>
      <td mat-cell *matCellDef="let row">
        <img [src]="row.image" width="40" height="40">
      </td>
    </ng-container>

    <ng-container matColumnDef="add">
        <th mat-header-cell *matHeaderCellDef mat-sort-header >Add</th>
        <td mat-cell *matCellDef="let row"><button  (click)="add(row)">Add</button></td>
        <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="edit" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header >Edit</th>
        <td mat-cell *matCellDef="let row"><button  (click)="edit(row)">Edit</button></td>
        <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="comment" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header >Comment</th>
        <td mat-cell *matCellDef="let row"><button  (click)="comment(row)">Comment</button></td>
        <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="approve" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header >Approve</th>
      <td mat-cell *matCellDef="let row"><button  (click)="approve(row)">Approve</button></td>
      <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>

  </table>

  <mat-paginator #paginator [length]="dataSource.data.length" [pageIndex]="0" [pageSize]="50" [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>