<mat-toolbar>
  <mat-toolbar-row>
    <span>Comment Activity</span>
  </mat-toolbar-row>
</mat-toolbar>
<form style="margin-left: 1em" #editActivityForm="ngForm" (ngSubmit)="onSubmit()" [formGroup]="af">
  <table class="full-width" cellspacing="0">
    <tr>
      <td><a> Activity name</a>
        <mat-form-field class="full-width" appearance="outline">
         
          <input matInput placeholder="Activity name" [value]="activity.name" formControlName="name" readonly>
        </mat-form-field>
      </td>
    </tr>
  </table>
  <br>
  <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Liver pool</mat-card-title>
        <mat-card-subtitle>Muhammad Salah</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://theinsider.ug/wp-content/uploads/2018/05/gettyimages-914184882-450x270.jpg" alt="Photo of a Salah">
      <mat-card-content>
        <p>
          This actity is very useful for every student.
        </p>
      </mat-card-content>

      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  <br>
  <a> Comment </a>
        <mat-form-field class="full-width" appearance="outline">
         
          <input matInput placeholder="Leave comment here">
        </mat-form-field>
  
  <form>
      <button mat-raised-button color="primary" (click)="fileInput.click()" type="button">Upload picture</button>
      <input hidden id="singleFile" type="file" #fileInput [fileUploadInputFor]="fileUploadQueue" accept="image/*" />
      <br>
    
      <mat-file-upload-queue #fileUploadQueue [fileAlias]="'file'" [httpUrl]=uploadEndPoint>
        <mat-file-upload [file]="file" [id]="i" *ngFor="let file of fileUploadQueue.files; let i = index" (onUpload)="processReturnFile(file,$event)"></mat-file-upload>
      </mat-file-upload-queue>
      </form>
      <br>
  <div>
      <button mat-raised-button color="primary" type="submit" class="btnContact">Commit</button>
  </div>
</form>