<!-- ทำเป็นหน้า Activity -->
<div class="mat-elevation-z8">
  <div *ngIf="loading" class="loading-indicator">
    <mat-spinner></mat-spinner>
  </div>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <table mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let student" >{{student.name}}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <!-- StudentId Column -->
    <ng-container matColumnDef="surname">
      <th mat-header-cell *matHeaderCellDef>Surname</th>
      <td mat-cell *matCellDef="let student">{{student.surname}}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="dob">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date of birth</th>
      <td mat-cell *matCellDef="let student">{{student.date}}</td>
      <td mat-footer-cell *matFooterCellDef>Total </td>
    </ng-container>
    <!-- Surname Column -->
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Image</th>
      <td mat-cell *matCellDef="let student"><img [src]="student.image"></td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <!-- pen amount Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
      <td mat-cell *matCellDef="let student">{{student.email}}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <!-- Gpa Column -->
    <ng-container matColumnDef="password">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Password</th>
      <td mat-cell *matCellDef="let student">{{student.password}}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="accept">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Accept</th>
        <td mat-cell *matCellDef="let student"><button  (click)="accept(student)">Accept</button></td>
        <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="reject">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Reject</th>
        <td mat-cell *matCellDef="let student"><button (click)="reject()">Reject</button></td>
        <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>
  <mat-paginator #paginator [length]="dataSource?.data?.length" [pageIndex]="0" [pageSize]="50"
    [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>
