<body>
<div class="container contact-form">
  <mat-toolbar>
    <mat-toolbar-row>
      <span>Edit Profile</span>
    </mat-toolbar-row>
  </mat-toolbar>
 <form style="margin-left: 1em"(ngSubmit)="onSubmit()" [formGroup]="sf"> 
   <mat-form-field class="full-width">
    <input matInput placeholder="Student Id" [value]="student.studentId" formControlName="studentId">
  </mat-form-field>

  <table class="full-width" cellspacing="0" >
     <tr>
      <td>
        <mat-form-field class="full-width">
          <input matInput placeholder="First name" [value]="student.name" formControlName="name" >
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="full-width">
          <input matInput placeholder="surname" [value]="student.surname" formControlName="surname">
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field class="full-width">
            <input matInput  min="1990-01-01" max="2018-10-25" type="date" placeholder="date" [value]="student.date" formControlName="date">
          </mat-form-field>
      </td>
    </tr>
    <mat-form-field class="full-width">
    <input matInput [value]="student.image" placeholder="image" formControlName="image">
  </mat-form-field>
  </table>
  <div class="center">
      <button mat-raised-button color="primary" type="submit" >Save Changes</button>
    </div>
</form>
</div>
</body>