<body>
    <div class="container contact-form">
    <mat-toolbar>
      <mat-toolbar-row>
        <span>Update Profile</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <form (ngSubmit)="onSubmit()" [formGroup]="passwordFormGroup">
      <table class="full-width">
        <tr>
          <td>
              <mat-form-field class="full-width" appearance="outline">
                  <input matInput placeholder="Old Password" name="password" type="password" formControlName="password">
                  <!-- <mat-error *ngFor="let validation of validation_message.password">
                    <mat-error class="error-message" *ngIf="passwordFormGroup.get('password').hasError(validation.type) && (passwordFormGroup.get('password').dirty || passwordFormGroup.get('password').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error> -->
                </mat-form-field>
          </td>
        </tr>
        <tr>
            <td>
              <form [formGroup]="myForm">
                  <mat-form-field class="full-width" >
                    <input matInput placeholder="New password" formControlName="password" required>
                    <mat-error *ngIf="myForm.hasError('required', 'password')">
                      Please enter your newpassword
                    </mat-error>
                  </mat-form-field>
                <br>
                <mat-form-field class="full-width">
                  <input matInput placeholder="Confirm password" formControlName="confirmPassword" [errorStateMatcher]="matcher">
                    <mat-error *ngIf="myForm.hasError('notSame')">
                    Passwords do not match
                  </mat-error>  
                </mat-form-field>
              </form>
            </td>
          </tr>
        <tr>
          <td>
              <mat-form-field class="full-width" appearance="outline">
                  <input matInput placeholder="Confirm New Password" name="repeatPassword" type="password">
              </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            upload image
            <form>
            <button mat-raised-button color="primary" (click)="fileInput.click()" type="button">Upload</button>
            <input hidden id="singleFile" type="file" #fileInput [fileUploadInputFor]="fileUploadQueue" accept="image/*" />
            <br>
        
            <mat-file-upload-queue #fileUploadQueue [fileAlias]="'file'" [httpUrl]=uploadEndPoint>
              <mat-file-upload [file]="file" [id]="i" *ngFor="let file of fileUploadQueue.files; let i = index" (onUpload)="processReturnFile(file,$event)"></mat-file-upload>
            </mat-file-upload-queue>
            <mat-error *ngFor="let validation of validation_messages.image">
              <mat-error class="error-message" *ngIf="sf.get('image').hasError(validation.type) && (sf.get('image').dirty || sf.get('image').touched)">{{validation.message}}</mat-error>
            </mat-error>
          </form>

          </td>
        </tr>
        <tr>
          <td>
              <button mat-raised-button color="primary" type="submit" >Save Changes</button>
          </td>
        </tr>
      </table>
    </form>
    
    
    <!-- <form style="margin-left: 1em"(ngSubmit)="onSubmit()" [formGroup]="sf"> -->
      <!-- <mat-form-field class="full-width">
        <input matInput placeholder="Password" [value]="student.studentId" formControlName="studentId">
      </mat-form-field>
    
      <table class="full-width" cellspacing="0" > -->
        <!-- <tr>
          <td>
            <mat-form-field class="full-width">
              <input matInput placeholder="First name" [value]="student.name" formControlName="name" >
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="full-width">
              <input matInput placeholder="surname" [value]="student.surname" formControlName="surname">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="full-width">
                <input matInput  min="1990-01-01" max="2018-10-25" type="date" placeholder="date" [value]="student.date" formControlName="date">
              </mat-form-field>
          </td>
        </tr> -->
        <!-- <mat-form-field class="full-width">
        <input matInput [value]="student.image" placeholder="image" formControlName="image">
      </mat-form-field> -->
      <!-- </table> -->
      <!-- <div class="center">
          <button mat-raised-button color="primary" type="submit" >Save Changes</button>
        </div>
    </form> -->

    </div>
    </body>